@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400&display=swap');

body {
  margin: 0;
  letter-spacing: 3px;
  font-weight: 200;
  font-family: -apple-system, 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* default view  */